apiVersion: v1
kind: Service
metadata:
  name: {{ include "calculator-app.name" . }}-service
  labels:
    {{- include "calculator-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    nodePort: {{ .Values.service.nodePort }}
  selector:
    {{- include "calculator-app.selectorLabels" . | nindent 4 }}
