apiVersion: v1
kind: Service
metadata:
  name: calculator-service
  labels:
    app: calculator-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: calculator-app
