name: Build and Push to ACR
on: workflow_dispatch
jobs:
  Build and push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Install Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov flake8
      - name: Lint Code
        run: flake8 app/ --max-line-length=127
        continue-on-error: true
      - name: Run Tests
        run: pytest tests/ --cov=app --cov-report=xml -v
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args:
            -Dsonar.projectKey=calculator-app
            -Dsonar.sources=app
            -Dsonar.language=py
            -Dsonar.python.coverage.reportPaths=coverage.xml
      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          username: ${{vars.DOCKER_UN2}}
          password: ${{secrets.DOCKER_PWD_2}}
      - name: Docker Setup Build
        run: |
          docker build -t ${{vars.DOCKER_UN2}}/my_python_app:latest
      - name: Docker Push
        run: |
          docker push ${{vars.DOCKER_UN2}}/my_python_app:latest
